Package: pytag
Version: 0.0.1
Section: sound
Priority: optional
Architecture: all
Maintainer: A. Serhat KILICOGLU <https://github.com/shampuan>
Depends: python3, python3-pyqt6, python3-mutagen
Description: Simple and lightweight MP3 tag editor
 PyTag is an easy-to-use audio metadata editor written in Python and Qt6.
 It allows users to quickly view and edit ID3 tags (title, artist, album,
 track number, etc.) and embed or remove cover art for MP3 audio files.

